.b{
    font-weight: bold;
   
    color: #21d4fd;

}
ion-card-header{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
ion-button{
    --ion-color-primary : rgb(172, 108, 158);
    justify-content: center;
    align-items: center;
    padding:  0 90px;
    text-transform:none;
   padding-top: 5px;  
}
.bb{
    font-weight: bold;
    color: #415458;
}
ion-icon{
    --ion-color-danger : #21d4fd; 
}